@import "./variables.scss";
@import "normalize.css";
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  flex: 1 0 auto; /* Основное содержимое растягивается */
  overflow-y: auto; /* Позволяет прокрутку только в основном блоке при необходимости */
}






.headline {
  font-size: $headline;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.subtitle {
  display: flex;
  justify-content: center;
}

.form__button {
  background-color: $button-background;
  width: 100%;
  border-radius: $button-border-radius-1;
  margin: 30px 0 0 0;
  color: #fff;
  padding: 10px;
  transition: background-color 0.3s;
}

.form__button:hover {
  background-color: $button-hover;
}

.options {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options__link {
  color: $highlight;
  margin-bottom: 20px;
}

.error {
  background: $error-background;
  opacity: 0.9;
  color: $error-text;
}
.header, .footer {
  width: 100%; /* Full width */
  margin: 0;
  padding: 10px; /* Adjust padding as needed */
  color: #ffffff; /* White text color */
}

.header {
  background-color: #a8d0e6; /* Soft pastel blue for the header */
}

.footer {
  background-color: #d3c0cd; /* Muted pastel lavender for the footer */
  text-align: center; /* Center text in footer */
}

.container {
  max-width: 1200px; /* Установите максимальную ширину контейнера */
  margin: 0 auto; /* Центрирование контейнера */
}




.form-group {
  margin-top: 24px;
}

.input-wrapper {
  position: relative;
}

.input-wrapper .icon {
  position: absolute;
  right: 5px;
  top: 50%;
  cursor: pointer;
}

.bi-question-circle-fill {
  position: absolute;
  right: 0;
}

.error-message {
  color: $error-text;
}
