
// src/assets/variables.scss

$light-background: #F9F5EB;   // Светлый бежевый фон
$dark-background: #D8D2B2;    // Темный бежевый фон для элементов
$text-color: #5C4B3C;         // Темный бежевый текст (почти коричневый)
$button-background: #C7A77B;  // Кнопка с золотистым оттенком
$button-hover: #B78F5C;       // Темнее для hover
$error-background: #FFB7C5;   // Мягкий розовый для ошибок
$error-text: #9B2A2A;         // Текст ошибок темно-красный
$highlight: #6A4E28;          // Для акцентов и ссылок
$border-color: #C0B3A8;       // Цвет рамок



$light-layout-1: #fafafd;
$light-layout-2: #f3f3fa;

$dark-layout-0: #1e1a3e;
$dark-layout-1: #e0e0e0;

$headline: 22px;
$subtitle: 14px;

$button-border-radius-1: 30px;
